<h1>At-Bat Simulator</h1>
<%= link_to 'Create A Batter', new_batter_path %><br>
<%= link_to 'Create A Pitcher', new_pitcher_path %><br>
<%= link_to 'See All Teams', teams_path %><br>
<%= link_to 'Simulate an At-Bat', new_plate_appearance_path %>